In [1]:
# Sets are un-ordered collection of unique elements

In [15]:
# There can be only one representative of the same objects. Sets DON'T HAVE ORDER.

In [3]:
myset = set()

In [4]:
# Created empty set

In [5]:
myset

set()

In [6]:
# Add 
myset.add(1)

In [7]:
myset

{1}

In [8]:
myset.add(2)

In [9]:
myset

{1, 2}

In [10]:
myset.add(2)

In [11]:
myset # Only unique values can be added

{1, 2}

In [12]:
my_list = {1, 3, 2, 2, 1, 1, 2, 3, 3, 3}

In [13]:
# Casting a list into set
my_set = set(my_list)

In [14]:
my_set

{1, 2, 3}

In [16]:
# Casting letters of string into a set
set("MY STRING")

{' ', 'G', 'I', 'M', 'N', 'R', 'S', 'T', 'Y'}